html
{
    font-family: 'Mulish', sans-serif;
    font-size: 1.3rem;
    height: 100%;
}

body
{
    background-color: rgb(255, 255, 255);
    display: flex;
    min-height: 100%;
    margin: 0;
}

.content
{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 170, 170);
    border-radius: 1rem;
    padding: 2rem;
    background-color: #dfe1e6;
}

.title
{
    margin-top: 0;
    font-size: 1.9rem;
}

#form-coords
{
    display: flex;
    flex-direction: column;
}

.input
{
    width: 20rem;
    margin: 0.5rem 0;  
}

select
{
    width: 4rem;
}

.submit
{
    width: 5rem;
    margin-top: 1rem;
}

@media only screen and (max-width: 1000px) {

    html
    {
        font-size: 1.8rem;
    }

    .title
    {
        font-size: 2.3rem;
    }

    .input
    {
        width: 15rem;
        font-size: 1rem;
    }

    select
    {
        font-size: 1rem;
    }

    .submit
    {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 700px) {

    .content
    {
        padding: 1.5rem;
    }

    .title
    {
        font-size: 1.8rem;
    }

    .input
    {
        width: 10rem;
        font-size: 0.8rem;
    }

    select
    {
        font-size: 0.8rem;
    }

    .submit
    {
        font-size: 0.8rem;
    }
}